In [100]:
import pandas as pd
from scipy import stats
df = pd.read_csv('owid-covid-data.csv') # import our data file
df['date'] = pd.to_datetime(df['date']) # makes us able make calculations with dates

In [ ]:
A1

In [101]:
df_q1 = df[(df['date'] == '2020-03-23') & (~(df['location'] == 'World'))] # removes rows with "World" value on location column and keeps only rows with '2020-03-23' value on date column
max_total_cases = df_q1['total_cases'].max() # make a dataframe where we pick the max value of column total_cases
df_q1[df_q1['total_cases'] == max_total_cases].round(decimals=2) # we combine the 2 dataframes to get the desired value with all columns and round the result to have 2 decimals

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
11377,CHN,Asia,China,2020-03-23,81484.0,138.0,66.29,3274.0,9.0,8.29,...,15308.71,0.7,261.9,9.74,1.9,48.4,NaN,4.34,76.91,0.75

In [ ]:
A2

In [34]:
df_q2 = df[(df['date'] >= '2020-03-23') & (df['date'] <= '2020-03-29') & (~(df['location'] == 'World'))] # removes rows with "World" value on location column and keeps only rows with specofied values on date column
max_new_cases = df_q2['new_cases'].max() # make a dataframe where we pick the max value of column new_cases
df_q2[df_q2['new_cases'] == max_new_cases].round(decimals=2) # we combine the 2 dataframes to get the desired value with all columns and round the result to have 2 decimals

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
55418,USA,North America,United States,2020-03-29,124665.0,19979.0,13988.29,2191.0,484.0,264.43,...,54225.45,1.2,151.09,10.79,19.1,24.6,NaN,2.77,78.86,0.92

In [ ]:
A3

In [23]:
df_q3 = df[(df['date'] >= '2020-03-16') & (df['date'] <= '2020-03-22') & (df['location'] == 'Greece')] # removes rows that aren't "Greece" value on location column and keeps only rows with specofied values on date column
new_cases_before = df_q3 ['new_cases'].sum() # make a dataframe where we pick the sum value of column "new_cases"
print(new_cases_before) # we print the specified value

302.0

In [24]:
df_q31 = df[(df['date'] >= '2020-10-31') & (df['date'] <= '2020-11-06') & (df['location'] == 'Greece')] # removes rows that aren't "Greece" value on location column and keeps only rows with specofied values on date column
new_cases_after = df_q31 ['new_cases'].sum() # make a dataframe where we pick the sum value of column new_cases
print(new_cases_after) # we print the specified value

14297.0

In [ ]:
A4

In [33]:
df_q4 = df[~(df['location'] == 'World')] # removes rows with "World" value on location column
max_tdpm = df_q4['total_deaths_per_million'].max() # make a dataframe where we pick the max value of column total_deaths_per_million
df_q4[df_q4['total_deaths_per_million'] == max_tdpm].round(decimals=2) # we combine the 2 dataframes to get the desired value with all columns and round the result to have 2 decimals

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
5519,BEL,Europe,Belgium,2020-11-22,559515.0,1062.0,3120.86,15647.0,108.0,155.86,...,42658.58,0.2,114.9,4.29,25.1,31.4,NaN,5.64,81.63,0.92

In [ ]:
A5

In [32]:
df_q5 = df[(df['date'] == '2020-11-24')& (~(df['location'] == 'World'))] # removes rows with "World" value on location column and keeps only rows with '2020-03-23' value on date column
df_q5.insert(4, column = "deaths_per_case", value = df ['total_deaths']/df['total_cases']) # we create a new column and insert it 4th on the dataframe with name "deaths_per_case" and calculate it by deviding total_deaths by total_cases
max_deaths_per_case = df_q5 ['deaths_per_case'].max() # make a dataframe where we pick the max value of column the newly created deaths_per_case
df_q5[df_q5['deaths_per_case'] == max_deaths_per_case].round(decimals=2) # we combine the 2 dataframes to get the desired value with all columns and round the result to have 2 decimals

,iso_code,continent,location,date,deaths_per_case,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
57751,YEM,Asia,Yemen,2020-11-24,0.29,2107.0,8.0,5.0,609.0,1.0,...,1479.15,18.8,495.0,5.35,7.6,29.2,49.54,0.7,66.12,0.45

In [ ]:
B1

In [31]:
df_q6 = df[(df['date'] >= '2020-01') & (df['date'] <= '2020-12') & (df['location'] == 'Greece')]  # removes rows that aren't "Greece" value on location column and keeps only rows with specofied values on date column
q6std = df_q6 [['date', 'new_deaths', 'new_cases']] # make a dataframe including only the date, new_deaths and new_cases columns
q6std.groupby([df_q6["date"].dt.year, df_q6["date"].dt.month]).std().round(decimals=2) # we combine the 2 dataframes getting the standard deviation of the two columns new_deaths and new_cases monthly and rounding the result to have to decimals

           new_deaths  new_cases
date date
2020 1           0.00       0.00
     2           0.00       0.44
     3           1.84      31.87
     4           2.43      39.83
     5           1.04       8.72
     6           0.90      12.07
     7           0.72      14.38
     8           1.62      62.54
     9           2.19      82.85
     10          3.50     378.47
     11         28.64     621.04

In [30]:
df_q7 = df[(df['date'] >= '2020-01') & (df['date'] <= '2020-12') & (df['location'] == 'Greece')] # removes rows that aren't "Greece" value on location column and keeps only rows with specofied values on date column
q7mean = df_q7 [['date', 'new_deaths', 'new_cases']] # make a dataframe including only the date, new_deaths and new_cases columns
q7mean.groupby([df_q7["date"].dt.year, df_q7["date"].dt.month]).mean().round(decimals=2) # we combine the 2 dataframes getting the mean of the two columns new_deaths and new_cases monthly and rounding the result to have to decimals

           new_deaths  new_cases
date date
2020 1           0.00       0.00
     2           0.00       0.14
     3           1.48      41.66
     4           3.20      45.47
     5           1.16      10.94
     6           0.53      15.83
     7           0.39      32.61
     8           1.90     184.94
     9           4.20     266.30
     10          7.48     615.26
     11         45.58    2325.42

In [ ]:
B2

In [29]:
df_q8 = df[(df['date'] >= '2020-01') & (df['date'] <= '2020-12') & (df['location'] == 'Portugal')] # removes rows that aren't "Portugal" value on location column and keeps only rows with specofied values on date column
q8std = df_q8 [['date', 'new_deaths', 'new_cases']] # make a dataframe including only the date, new_deaths and new_cases columns
q8std.groupby([df_q8["date"].dt.year, df_q8["date"].dt.month]).std().round(decimals=2) # we combine the 2 dataframes getting the standard deviation of the two columns new_deaths and new_cases monthly and rounding the result to have to decimals

           new_deaths  new_cases
date date
2020 2            NaN        NaN
     3           7.51     271.80
     4           8.33     280.45
     5           6.58     137.89
     6           3.78      75.00
     7           3.07      98.83
     8           1.83      88.33
     9           2.62     191.78
     10          9.02    1151.11
     11         14.81    1555.36

In [28]:
df_q9 = df[(df['date'] >= '2020-01') & (df['date'] <= '2020-12') & (df['location'] == 'Portugal')] # removes rows that aren't "Portugal" value on location column and keeps only rows with specofied values on date column
q9mean = df_q9 [['date', 'new_deaths', 'new_cases']] # make a dataframe including only the date, new_deaths and new_cases columns
q9mean.groupby([df_q9["date"].dt.year, df_q9["date"].dt.month]).mean().round(decimals=2) # we combine the 2 dataframes getting the mean of the two columns new_deaths and new_cases monthly and rounding the result to have to decimals

           new_deaths  new_cases
date date
2020 2            NaN        NaN
     3           4.83     220.97
     4          28.30     609.47
     5          13.13     242.29
     6           5.73     323.63
     7           5.13     288.90
     8           2.97     222.58
     9           4.80     564.97
     10         16.29    2017.90
     11         62.62    5313.75

In [ ]:
B3

In [117]:
df_q10 = df['location'] == 'South Korea' # keeps rows with "South Korea" value on location column
SKnew_tests = df[df_q10]['new_tests'].dropna() # dataframe with new tests of South Korea and ignores nan values
SKnew_deaths = df[df_q10]['new_deaths'].dropna() # dataframe with new deaths of South Korea and ignores nan values
SKnew_cases = df[df_q10]['new_cases'].dropna() # dataframe with new cases of South Korea and ignores nan values

In [118]:
print('South Korea New Tests:\nMinimum New Tests:',SKnew_tests.min()) # prints min max average variance and standard deviation for new tests of South Korea
print('Maximum New Tests:',SKnew_tests.max())
print('Average Number of New Tests:',SKnew_tests.mean())
print('Variance:',SKnew_tests.var())
print('Standard Deviation:',SKnew_tests.std())

South Korea New Tests:
Minimum New Tests: 5.0
Maximum New Tests: 23215.0
Average Number of New Tests: 9885.651685393259
Variance: 24194996.325589262
Standard Deviation: 4918.840953475652

In [119]:
print('South Korea New Cases:\nMinimum New Cases:',SKnew_cases.min()) # prints min max average variance and standard deviation for new cases of South Korea
print('Maximum New Cases:',SKnew_cases.max())
print('Average Number of New Cases:',SKnew_cases.mean())
print('Variance:',SKnew_cases.var())
print('Standard Deviation:',SKnew_cases.std())

South Korea New Cases:
Minimum New Cases: 0.0
Maximum New Cases: 909.0
Average Number of New Cases: 95.00909090909092
Variance: 15345.808427742459
Standard Deviation: 123.87819996973825

In [120]:
print('South Korea New Deaths:\nMinimum New Deaths:',SKnew_deaths.min()) # prints min max average variance and standard deviation for new deaths of South Korea
print('Maximum New Deaths:',SKnew_deaths.max())
print('Average Number of New Deaths:',SKnew_deaths.mean())
print('Variance:',SKnew_deaths.var())
print('Standard Deviation:',SKnew_deaths.std())

South Korea New Deaths:
Minimum New Deaths: 0.0
Maximum New Deaths: 9.0
Average Number of New Deaths: 1.5454545454545454
Variance: 3.7684443216358186
Standard Deviation: 1.941248134998671

In [ ]:
C1

In [102]:
df_q11 = df[df['location'] == 'World'] # removes rows that aren't "World" value on location
wt_cases_deaths = df_q11 [['total_cases', 'total_deaths']].dropna() # dataframe with total cases and total deaths
r, p = stats.pearsonr(wt_cases_deaths['total_cases'], wt_cases_deaths['total_deaths']) # correlation test to find r and p value

In [103]:
r # print r value

0.9721076608791571

In [104]:
p # print p value

1.0450573665656795e-201

In [ ]:
C2

In [126]:
df_q12 = df[(df['date'] == '2020-11-24') & (df['location'] != 'World') & (df['location'] != 'International')][['gdp_per_capita','total_deaths_per_million']].dropna() # 
t, p = stats.ttest_rel(df_q12['gdp_per_capita'], df_q12['total_deaths_per_million']) # t-test to find t and p value

In [127]:
t # print t value

12.444901269070117

In [128]:
p # print p value

1.415571764830309e-25

In [ ]:
C3

In [131]:
df_q13 = df[(df['date'] == '2020-11-24') & (df['location'] != 'World') & (df['location'] != 'International')][['total_tests','total_cases']].dropna()
r, p = stats.pearsonr(df_q13['total_tests'], df_q13['total_cases']) # correlation test to find r and p value

In [132]:
r # print r value

0.8295602413832944

In [133]:
p # print p value

0.04109895408357672